
<!-- creating a employee in popup form modal -->
<form class="modal fade" id="myModal" tabindex="-1" [formGroup]="users" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
(ngSubmit)="onSubmit(users.value)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Employee Details</h4>
     
        <button type="button" id="closed" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modalbody">
            <div class="form-group">
                <label for="empid">EMP Id</label>
                <input class="form-control" name="empid" id="empid"  [formControl]="users.controls.empid" >
            </div>
          <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="firstname">*firstname</label>
                    <input type="text" name="firstname" id="firstname" class="form-control" [formControl]="users.controls.firstname" 
                    [ngClass]="{ 'is-invalid': submitted && users.controls.firstname.errors }">
                    <div *ngIf="submitted && users.controls.firstname.errors" class="invalid-feedback">
                      <div *ngIf="users.controls.firstname.errors.required">Last Name is required</div>
                    </div>
                  </div>

            </div>
            <div class="col">
              <div class="form-group">
                <label for="lastname">*Lastname</label>
                <input type="text" name="lastname" id="lastname" class="form-control" 
                [formControl]="users.controls.lastname" [ngClass]="{ 'is-invalid': submitted && users.controls.lastname.errors }">
                <div *ngIf="submitted && users.controls.lastname.errors" class="invalid-feedback">
                  <div *ngIf="users.controls.lastname.errors.required">Last Name is required</div>
                </div>
              </div>

            </div>
          </div>
      <!-- </div> -->
      <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="gender">*Gender</label>
              <select name="gender" id="gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && users.controls.gender.errors }"
                [formControl]="users.controls.gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
              <div *ngIf="submitted && users.controls.gender.errors" class="invalid-feedback">
                  <div *ngIf="users.controls.gender.errors.required">Gender is required</div>
              </div>
        
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>*Date of Birth</label>
              <input type="date" class="form-control" id="dob" name="dob" [formControl]="users.controls.dob" 
              [ngClass]="{ 'is-invalid': submitted && users.controls.dob.errors }">
              <div *ngIf="submitted && users.controls.dob.errors" class="invalid-feedback">
                <div *ngIf="users.controls.dob.errors.required">date of birth is required</div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" name="address" id="address" rows="2" [formControl]="users.controls.address" 
            [ngClass]="{ 'is-invalid': submitted && users.controls.address.errors }"></textarea>
            <div *ngIf="submitted && users.controls.address.errors" class="invalid-feedback">
              <div *ngIf="users.controls.address.errors.required">address is required</div>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="mobile">*Mobile No</label>
                  <input type="text" name="mobile" [formControl]="users.controls.mobile" class="form-control" 
                  [ngClass]="{ 'is-invalid': submitted && users.controls.mobile.errors }">
                  <div *ngIf="submitted && users.controls.mobile.errors" class="invalid-feedback">
                    <div *ngIf="users.controls.mobile.errors.required">mobile no is required</div>
                  </div>
          
                </div>
          
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="city">*City</label>
                  <input type="text" name="city" id="city" class="form-control" [formControl]="users.controls.city" 
                  [ngClass]="{ 'is-invalid': submitted && users.controls.city.errors }">
                  <div *ngIf="submitted && users.controls.city.errors" class="invalid-feedback">
                    <div *ngIf="users.controls.city.errors.required">city is required</div>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" class="form-control" name="_id" [formControl]="users.controls.city" 
             value="employee['_id']">
        </div>
            <div id="msg" *ngIf="res" >
              <h4 class="text-center" id="message">{{res.message}} {{res.err}}</h4>
            </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" data-toggle="modal"  id="cancel" class="btn btn-danger" aria-label="Close" data-dismiss="modal">Close</button>
        <button type="submit"    id="submit"  class="btn btn-info"  >Submit</button>
      </div>

    </div>
  </div>
</form>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Emp Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Address</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Mobile No</th>
      <th>city</th>
      <td>
        <button type="button" data-toggle="modal"  data-target="#myModal" class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee['empid']}}</td>
      <td>{{employee['firstname'] }}</td>
      <td>{{employee['lastname']}}</td>
      <td>{{employee['address']}}</td>
      <td>{{employee['dob']}}</td>
      <td>{{employee['gender']}}</td>
      <td>{{employee['mobile']}}</td>
      <td>{{employee['city']}}</td>



      <td>
        <a routerLink="/view/{{employee['_id']}}" title="View" class="btn btn-info">
          <i class="fa fa-eye"></i>
        </a>&nbsp;&nbsp;
        <a routerLink="/edit/{{employee['_id']}}" (click)="update(employee['_id'])" title="Edit" type="button" data-toggle="modal"
         data-target="#myModal" class="btn btn-primary">
          <i class="fa fa-edit"></i>
        </a>&nbsp;&nbsp;
        <button title="Delete" (click)="delete(employee['_id'])" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>



